[submodule "dotvim/bundle/vim-coffee-script"]
	path = dotvim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "https://github.com/yejianye/jshint.vim.git"]
	path = dotvim/bundle/jshint.vim
	url = https://github.com/yejianye/jshint.vim.git
[submodule "dotvim/bundle/pyflakes"]
	path = dotvim/bundle/pyflakes
	url = https://github.com/kevinw/pyflakes
[submodule "dotvim/bundle/vim-haml"]
	path = dotvim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml
[submodule "dotvim/bundle/vim-jade"]
	path = dotvim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "dotvim/bundle/vim-pep8"]
	path = dotvim/bundle/vim-pep8
	url =  https://github.com/nvie/vim-pep8
[submodule "dotvim/bundle/supertab"]
	path = dotvim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "dotvim/bundle/CommandT"]
	path = dotvim/bundle/CommandT
	url = https://github.com/wincent/Command-T.git
[submodule "dotvim/bundle/syntastic"]
	path = dotvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotvim/bundle/fugitive"]
	path = dotvim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dotvim/bundle/makegreen"]
	path = dotvim/bundle/makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule "dotvim/bundle/vim-less"]
	path = dotvim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "dotvim/bundle/vim-golang"]
	path = dotvim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "dotvim/bundle/vim-airline"]
	path = dotvim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "dotvim/bundle/vim-colors-solarized"]
	path = dotvim/bundle/vim-colors-solarized
	url = https://github.com/hydrozen/vim-colors-solarized.git
[submodule "dotvim/bundle/vim-localvimrc"]
        path = dotvim/bundle/vim-localvimrc
        url = https://github.com/embear/vim-localvimrc.git
